*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
   
}

.h{
   border-bottom-right-radius: 0;
   
}
table{
    border-collapse: separate;
    border-spacing: 0 1rem;
}
tr{
    border: 2px solid #000000;
    
}